<section class="container mt-3 mb-3">
  <div class="card form-card mx-auto" style="max-width: 650px;">
    <div class="card-header">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      ><path
          fill="currentColor"
          d="M10 11H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-8h6v3l5-4l-5-4v3z"
        ></path></svg>
      <h4 class="mb-0">Inicio de sesión</h4>
    </div>
    <div class="card-body">
      <div class="alert-container">
        {{#if formMsg}}
          <div class="alert alert-warning form-alert">
            <div>
              <i class="bi bi-exclamation-triangle-fill"></i>
              <label>{{formMsg}}</label>
            </div>
            <button
              type="button"
              class="btn-close"
              id="form-alert-btn"
            ></button>
          </div>
        {{/if}}
      </div>
      <form method="POST" action="/log-in" id="default-form">
        <div class="row">
          <div class="col-12">
            <div class="form-outline mb-2">
              <label class="form-label" for="companyUser">Usuario de la empresa:</label>
              <input
                type="text"
                id="companyUser"
                name="companyUser"
                class="form-control form-control-sm required"
              />
            </div>
            <div class="form-outline mb-2">
              <label class="form-label" for="password">Contraseña:</label>
              <div class="d-flex">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-sm required"
                />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
              </div>
            </div>
            <div class="buttons-container">
              <a
                href="/sign-up"
                class="btn btn-warning form-btn form-btn-secondary"
              >
                Registro
              </a>
              <button
                type="button"
                class="btn btn-warning form-btn form-btn-primary ms-1"
                id="btn-submit"
              >
                Iniciar
              </button>
            </div>
            <div class="mt-2 text-center">
              <a href="/reset-pass/find-company">¿Olvidó su contraseña?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>