body {
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);
  font-family: var(--mainFont);
  color: #001f3f;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
