footer {
  background-color: whitesmoke;
  height: 4rem;
  margin-top: auto;
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.75);
  color: var(--mainColor);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 0 0.75rem;
  text-align: center;
}
