@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Fontdiner+Swanky&display=swap");

:root {
  --logoFont: "Fontdiner Swanky", cursive;
  --mainFont: "Baloo 2", cursive;
  --mainShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --mainColor: #fcca46;
}
