<section class="container my-5 not-found">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">P치gina no encontrada</h1>
      <p class="lead">Lo sentimos, la p치gina que est치s buscando no se encuentra
        disponible en este momento. Por favor, verifica la URL o intenta buscar
        en otro lugar del sitio.</p>
      <a
        href="/employees"
        class="btn btn-warning main-btn main-btn-primary mt-3"
      >Ir a la p치gina principal</a>
    </div>
  </div>
</section>